body, html{
  margin: 0;
}
body{
  background-color: #f5f5f5;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
header{
  padding: 1em;
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content:space-between;
  width:  calc(100% - 2em);
  background: white;
}
header a{
  text-decoration: none;
  color:white;
}
a:hover{
background: #ddd;
  color: black;
}
header a .logo{
  font-weight: bold;
  text-transform: uppercase;
}
.logo{
  color:white;
}
header nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
li a{
  padding: 0.5em;
}
.wrapper{
  display: grid;
  grid-gap: 1px;
  background-color: #f5f5f5;
  grid-template-rows: auto;
}
section{
  padding: 3em;
}
section h1, h2, .button{
  text-transform: uppercase;
  margin:0;
}
h2{
  font-size: 1.4rem;
}
h1{
  font-size: 2.4rem;
  color: white;
}
.landing{
display: none;
}
button{
  width: 60%;
  padding: 1em;
  padding-left: 0;
  background-color: white;
  border: 1px  black;
  font-family: 'Montserrat';
}
.text{
  color:white;

}
.button{
  text-decoration: none;
  color: white;
  padding: 1.5em 1.5em 1.5em calc(3em + 25px);
  font-weight: bold;
  border: 1px solid white;
  display: inline-block;
  margin-top: 3em;
  margin-left: -3em;
  border-left: 0;
}
.button2{
  text-decoration: none;
  background-color: white	;
  padding: 1.5em 1.5em 1.5em calc(3em + 25px);
  font-weight: bold;
  background-color: rgba(1, 0, 0, 0.5);
  display: inline-block;
  border-left: 0;
  color:white;
  margin-top: 3em;
  margin-left: -3em;
}
.clipper{
  overflow: hidden;
}
section.hero{
  padding-top: 8em;
  background-color: 	#808000;
  background-image: url(landing-image.jpg);
  filter:saturate(40%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
section.hero p{
  width: 70%;
  font-size: 1.2rem;
  margin-bottom: 0;
}
section.footer{
background-color:#333339;
  color:white;
}
section.sidebar, section.subscribe{
  font-size: .9rem;
  line-height: 1.6em;
  color:white;
}
section.sidebar{
  background-color:#333339;
  color:white;
  background-size: cover;
}
section.subscribe{
  background-color:#333333;
  filter:saturate(40%);
  background-image: url("fck.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
section.inner{
  border: 1px solid black;
}

input{
  width: 60%;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
}
@media only screen and (max-width:400px){
  html{
  font-size: 18px;
  }
  .landing{
  display: none;
}
  header {
    color:white;
  }
  a.logo{
  }
  header{
    background-color:black;
  }
  section.hero{
    padding:2em;
    padding-left: 3em;
    height: 80vh;
  }
}
@media only screen and (min-width:768px){
  html{
  font-size: 18px;
  }
  .landing{
  display: none;
}
  header a{
    color:black;
  }
}
@media only screen and (max-width:768px){
  html{
  font-size: 18px;
  }
  header a{
    color:white;
    text-transform: uppercase;
    font-size: 12px;
  }
  header{
    background-color: 	#333339;;
    position: relative;
  }
  #header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
  .logo{
    font-size: 16px;
    color:white;
    text-transform: uppercase;
  }

  section.hero{
    padding-top: 2rem;
  }

  .button2{
    padding-left: 2rem;
}
}
@media only screen and (min-width:1028px){
  header{
    background:	#333339;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  header a{
    color:white;
  }
  .landing{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    display: flex;
    margin: 1rem 3rem 3rem 3rem;
    justify-content: center;
    align-items: center;
    filter:saturate(40%);
    background-image: url("fck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
  .wrapper{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 5px;
    height: auto;
    margin: 3rem;
    grid-template-columns: 60% auto;
    grid-template-areas:
      "hero featured"
      "hero subscribe"
        "footer footer";

  }
  section.footer{
  grid-area: footer;
}
  section.hero{
    grid-area: hero;
    grid-template-rows: auto;
    align-items:center;
  }
}
@media only screen and(min-width:1800px){
  html{
    font-size: 21px;
  }
}
